
@{
    ViewData["Title"] = "Check SMS";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Please Check your SMS !</p>
    </div>
</div>

