:root {
    --Main-color: #82BF76;
    scrollbar-color: var(--Main-color) #f5f5f5;
    scroll-behavior: smooth;
    -ms-scrollbar-highlight-color: inherit;
    scrollbar-highlight-color: inherit;
}

html {
  font-size: 14px;
}

body {
    background-color: var(--Main-color);
}


.navbar {
    border-color: var(--Main-color) !important;
}

.footer {
    border-color: gray !important;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

