@model CreateEmployeeDto

@{
    ViewData["Title"] = "Create Employee";
}

<h1>Create New Employee</h1>

<div class="my-5">

    <form asp-action="Create">

        <partial name="EmployeePartialView/_CreateEditPrtialView" />


        <div>
        <input type="submit" value="Create" class="btn btn-primary" />

            <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Back to List</a>
        </div>
    </form>

</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}