@model ReturnUserDto


<div class="form-floating mb-3">
    <input type="text" asp-for="UserName" class="form-control" placeholder="Name" />
    <label asp-for="UserName"></label>

    <div class="my-3">
        <span class="bg-transparent border-0 alert alert-danger" asp-validation-for="UserName"></span>
    </div>
</div>

<div class="form-floating mb-3">
    <input type="text" asp-for="FirstName" class="form-control" placeholder="Age" />
    <label asp-for="FirstName"></label>

    <div class="my-3">
        <span class="bg-transparent border-0 alert alert-danger" asp-validation-for="FirstName"></span>
    </div>
</div>

<div class="form-floating mb-3">
    <input asp-for="LastName" class="form-control" placeholder="Email" />
    <label asp-for="LastName"></label>

    <div class="my-3">
        <span class="bg-transparent border-0 alert alert-danger" asp-validation-for="LastName"></span>
    </div>
</div>

<div class="form-floating mb-3">
    <input type="text" asp-for="Email" class="form-control" placeholder="Address" />
    <label asp-for="Email"></label>

    <div class="my-3">
        <span class="bg-transparent border-0 alert alert-danger" asp-validation-for="Email"></span>
    </div>
</div>

@if (Model.Roles != null)
    {
    foreach (var role in Model.Roles)
        {
        <div class="form-floating mb-3">
            <input class="form-control" value="@role" placeholder="Role" disabled />
            <label>Role</label>
        </div>
        }
    }
else
    {
    <div class="form-floating mb-3">
        <input class="form-control" value="N/A" placeholder="N/A" disabled />
        <label>Role</label>
    </div>
    }